#image{
    width: 1680px;
    height: 500px;
    align-items: center;
    }
    #img{
    width: 50px;
    }
    #h4{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
#Bot{
    margin-left: 250px;
}

#bot{
    margin-left: 50px;
}

